<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.iebbuda.mozi.domain.policy.mapper.PolicyMapper">

    <select id="findAll" resultType="org.iebbuda.mozi.domain.policy.domain.PolicyVO">
        SELECT * FROM YouthPolicy
    </select>

    <!-- plcyNo 중복 확인용 -->
    <select id="existsByPlcyNo" resultType="int">
        SELECT COUNT(*) FROM YouthPolicy WHERE plcyNo = #{plcyNo}
    </select>

    <insert id="insertPolicy" parameterType="org.iebbuda.mozi.domain.policy.domain.PolicyVO">
        INSERT INTO YouthPolicy (
            plcyNm,
            plcyNo,
            plcyExplnCn,
            plcySprtCn,
            zipCd,
            mrgSttsCd,
            schoolCd,
            jobCd,
            plcyMajorCd,
            sBizCd,
            aplyUrlAddr,
            bizPrdBgngYmd,
            bizPrdEndYmd,
            lclsfNm,
            mclsfNm,
            plcyKywdNm,
            sprtTrgtMinAge,
            sprtTrgtMaxAge,
            earnCndSeCd,
            earnMinAmt,
            earnMaxAmt,
            earnEtcCn
        )
        VALUES (
                   #{plcyNm},
                   #{plcyNo},
                   #{plcyExplnCn},
                   #{plcySprtCn},
                   #{zipCd},
                   #{mrgSttsCd},
                   #{schoolCd},
                   #{jobCd},
                   #{plcyMajorCd},
                   #{sBizCd},
                   #{aplyUrlAddr},
                   #{bizPrdBgngYmd},
                   #{bizPrdEndYmd},
                   #{lclsfNm},
                   #{mclsfNm},
                   #{plcyKywdNm},
                   #{sprtTrgtMinAge},
                   #{sprtTrgtMaxAge},
                   #{earnCndSeCd},
                   #{earnMinAmt},
                   #{earnMaxAmt},
                   #{earnEtcCn}
               )
    </insert>


    <select id="selectPolicyById" parameterType="int" resultType="org.iebbuda.mozi.domain.policy.domain.PolicyVO">
        SELECT *
        FROM YouthPolicy
        WHERE policy_id = #{id}
    </select>


</mapper>
